<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_face01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,220},{74,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{74,68}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,362},{74,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{74,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face03.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,78},{76,70}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{76,70}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face04.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,78},{76,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{76,70}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face05.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{78,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{74,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{74,70}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face07.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,150},{74,70}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{74,70}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face08.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,362},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{74,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{74,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{74,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face10.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,294},{74,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{74,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face11.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{74,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,72}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face13.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,78},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{74,70}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face14.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,286},{74,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{74,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face15.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,226},{74,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{74,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face16.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,222},{74,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{74,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face17.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{76,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,74}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face18.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face19.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,150},{74,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{74,74}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face20.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,152},{74,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{74,68}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face22.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{78,72}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face23.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,218},{74,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{74,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face24.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,150},{74,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{74,68}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face25.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,150},{76,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{76,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face26.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,76},{74,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{74,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face28.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,438},{72,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{72,64}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face29.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,222},{74,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{74,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face30.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,290},{72,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{72,70}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face31.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,78},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{74,70}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{72,72}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_face33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{62,68}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_face.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2ba701630e968479e5b49bad8474c9b:1/1$</string>
            <key>textureFileName</key>
            <string>game_face.png</string>
        </dict>
    </dict>
</plist>
